:root {
  --primary-hue: 30;
  --accent-hue: 169;
  --secondary-hue: 202;
  --error-hue: 0;
  --warning-hue: 60;
  --success-hue: 110;

  --md-dark: #333;
  --dark: 0, 0%, 8%;
  --light: 0, 0%, 95%;
  --primary: var(--primary-hue), 70%, 45%;
  --accent: var(--accent-hue), 95%, 30%;
  --secondary: var(--secondary-hue), 90%, 35%;
  --error: var(--error-hue), 100%, 40%;
  --warning: var(--warning-hue), 100%, 45%;
  --success: var(--success-hue), 100%, 35%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  --element-bg: hsl(var(--light));
  background-color: hsl(var(--element-bg));
}

body {
  background-color: hsl(var(--dark), .8);
  color: hsl(var(--light));
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
  margin: auto;
  min-width: 50vw;
  border-radius: .5rem;
}

h1,
h2,
h3,
p,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  height: 10vw;
}

input,
select {
  padding: .2rem .4rem;
  text-align: center;
}

button, .btn {
  --element-bg: 0, 0%, 100%;
  padding: .5rem 1.5rem;
  font-size: .9rem;
  font-weight: 700;
  border-radius: 9999px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  transition: all .3s ease;
  background-color: hsl(var(--element-bg), .8) !important;
}

button:hover {
  background-color: hsl(var(--element-bg)) !important;
}

footer {
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.primary,
.accent,
.error,
.warning,
.success,
.secondary,
.dark,
.light {
  color: var(--light);
  border-color: var(--light);
  background-color: hsl(var(var(--element-bg)));
}

.light,
.warning {
  color: hsl(var(--dark)) !important;
  border-color: var(--dark) !important;
}

.primary {
  --element-bg: var(--primary);
  /* border-color: hsl(var(--accent)); */
}
.primary-100 { --element-bg: var(--primary), .1;}
.primary-200 { --element-bg: var(--primary), .2;}
.primary-300 { --element-bg: var(--primary), .3;}

.secondary {
  --element-bg: var(--secondary);
}

.accent {
  --element-bg: var(--accent);
  /* border-color: hsl(var(--primary)); */
}

.error {
  --element-bg: var(--error);
}

.warning {
  --element-bg: var(--warning);
}

.success {
  --element-bg: var(--success);
}

.dark {
  --element-bg: var(--dark);
}

.light {
  --element-bg: var(--light);
}

.text-primary { color: hsl(var(--primary));}
.text-secondary { color: hsl(var(--secondary));}
.text-dark { color: hsl(var(--dark));}
.text-light { color: hsl(var(--light));}
.text-accent { color: hsl(var(--accent));}

.svg-behind {
  position: absolute;
  top: 0;
  z-index: -1;
}

.right-neg-25 { right: -25%;}
.left-neg-25 { left: -25%;}